.menubg{
    background-color: #cc0000;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
}

.navtext{
    color: white;
    padding-left: 10px;
}

.nav-link{
    font-weight: bold;
    color: white;
}

.nav-item a:hover{
    color:black;
}

.col-sm-12{
    padding:0px;
}

.pdleft {
    padding-left: 20px;
 }

 .pdleftdown{
     padding-left: 20px;
     padding-bottom: 20px;
 
 }

