.menubg{
    background-color: #cc0000;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
}

.navtext{
    color: white;
    padding-left: 10px;
}

.nav-link{
    font-weight: bold;
    color: white;
}

.nav-item a:hover{
    color:black;
}

.col-sm-12{
    padding:0px;
}

.pdleft {
    padding-left: 20px;
 }

 .pdright {
    padding-right: 20px;
 }

 .pddown {
    padding-bottom: 20px;
 }

 .pdleftdown{
     padding-left: 20px;
     padding-bottom: 20px;
 
 }

 .margins{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 200px;
    margin-left: 50px;
 }

 .margintop{
    margin-top: 20px;
 }

 .borderblack{
    border: 1px solid black;
}

.card{
   
    height:150px;

    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 200px;
    margin-left: 50px;

    border: 1px solid black;
}